@model BargainNet.Core.Entities.UserProfile

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-action="Create">
            <div class="d-flex">
                <div class="col-md-6">
                    <input class="" id="naturalPerson" type="radio" name="personType" value="0" data-toggle="collapse" data-parent="#people" href="#naturalPerson">
                    <label for="naturalPerson">Pessoa Fisica</label>
                    <input class="" id="legalPerson" type="radio" name="personType" value="1" data-toggle="collapse" data-parent="#people" href="#legalPerson">
                    <label for="legalPerson">Pessoa Jurídica</label>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Document" class="control-label"></label>
                        <input asp-for="Document" class="form-control" />
                        <span asp-validation-for="Document" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfilePic" class="control-label"></label>
                        <input type="file" accept="image/*" name="profilePic" class="form-control" />
                        <span asp-validation-for="ProfilePic" class="text-danger"></span>
                    </div>
                    <div class="panel-group" id="people">
                        <div id="naturalPersonPanel" class="panel-collapse collapse ">
                            <div class="panel-body">
                                <partial name="~/Views/UserProfiles/NaturalPerson.cshtml" />
                            </div>
                        </div>
                        <div id="legalPersonPanel" class="panel-collapse collapse">
                            <div class="panel-body">
                                <partial name="~/Views/UserProfiles/LegalPerson.cshtml" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <partial name="~/Views/UserProfiles/_AddressPartial.cshtml" />
                </div>
            </div>
                            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#naturalPerson,#legalPerson').on('click', function (e) {
            e.stopPropagation();
            if (this.id == 'naturalPerson') {
                $('#legalPersonPanel').collapse('hide');
                $('#naturalPersonPanel').collapse('show');
            } else if (this.id == 'legalPerson') {
                $('#naturalPersonPanel').collapse('hide');
                $('#legalPersonPanel').collapse('show');
            }
        })
    </script>
}
