@model BargainNet.Core.Entities.UserProfile

<h4>NaturalPerson</h4>
<hr />


<div class="form-group">
    <label asp-for="NaturalPerson.FullName" class="control-label"></label>
    <input asp-for="NaturalPerson.FullName" class="form-control" />
    <span asp-validation-for="NaturalPerson.FullName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="NaturalPerson.BirthDate" class="control-label"></label>
    <input asp-for="NaturalPerson.BirthDate" class="form-control" />
    <span asp-validation-for="NaturalPerson.BirthDate" class="text-danger"></span>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
