@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<form id="account" method="post">
    <h4>Use sua conta para entrar</h4>
    <hr />
    <div class="form-group">
        <label asp-for="Input.UserName"></label>
        <input asp-for="Input.UserName" class="form-control" />
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
    <div class="form-group">
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastrar-se</a>
        </p>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
