@model BargainNet.Core.Entities.Offer
@{ 
    System.Guid idAuction = (System.Guid)ViewData["idAuction"];
    Layout = "";
}
<div class="container">
    
        <form asp-action="CreateOffer" id="formOffer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="idAuction" value="@idAuction" />
            <div class="form-group">
                <h3 class="control-label">Informe um valor de lance</h3>
                
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" onclick="closeModal()" value="Create" class="btn btn-primary" />
            </div>
        </form>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
