
@{
    var id = ViewData["idAuction"];
}
<h3>Tem certeza que deseja encerrar este leilão?</h3>
<div>
    
    <form method="post" asp-action="EndAuction">
        <input type="hidden" name="id" value="@id" />
        <input type="submit" value="Terminar leilão" class="btn btn-danger" />
    </form>
</div>
