@model IEnumerable<BargainNet.Core.Entities.AdAuction>


<div class="d-flex justify-content-between">
    <h4>Leilões de meu interesse</h4>

</div>
<hr />
<div class="d-flex flex-column">
    @foreach (var auction in Model)
    {
        <partial name="~/Views/Shared/_AuctionCard.cshtml" model="auction" />
    }
</div>